/* Use CSS from your node_modules folder */
@import "node_modules/dc/dc.css";

/* Hide the y axis on the timeline. */
#timeline-chart svg g g.axis.y { display: none; }


.wide-chart {
	width: 1000px;
}

.rightHand {
	display: inline-block; 
}

#windRose-chart {
	
}

#timeline-chart {
	
}

#waveHeight-chart {
	padding-top: 30px;
}

.chart-text {
	font-size: 16px;
	padding-left: 30px;
}